Repository slj-cho/test1: changes, and which lefthook commands are due for each by the changed paths.
All: haml, scss/css, js, ruby, html/json/yaml/yml

haml:
  run: bundle exec haml-lint {staged_files} --auto-correct --fail-level error && git add {staged_files}

scss/css:
  run: pnpm stylelint {staged_files} --fix && git add {staged_files}

js:
  run: pnpm eslint {staged_files} --fix && git add {staged_files}

ruby:
  run: bundle exec rubocop {staged_files} --autocorrect --parallel && git add {staged_files}

html/json/yaml/yml:
  run: pnpm prettier {staged_files} --write && git add {staged_files}

workflows
  .github/workflows/lefthook.yml
Due: html/json/yaml/yml

T1
  .github/workflows/lefthook.yml
Due: html/json/yaml/yml

T3
  package.json
Due: html/json/yaml/yml

LGTM
  README.md
Due: none

T
  README.md
Due: none

TT
  .github/workflows/lefthook.yml
Due: html/json/yaml/yml

T23
  .github/workflows/pr_checker.yml
Due: html/json/yaml/yml

fix
  .github/workflows/pr_checker.yml
Due: html/json/yaml/yml

GitHub action/1 (#4)
  .github/workflows/pr_checker.yml
  README.md
  package.json
Due: html/json/yaml/yml

application_controller
  app/controllers/application_controller.rb
Due: ruby

Create 01. バグ.yaml
  ISSUE_TEMPLATE/01. バグ.yaml
Due: html/json/yaml/yml

Create 01. バグ.yaml (#7)
  ISSUE_TEMPLATE/01. バグ.yaml
Due: html/json/yaml/yml

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Create 01. pr.md
  .github/PULL_REQUEST_TEMPLATE/01. pr.md
Due: none

Rename 01. pr.md to pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

Update pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

Rename .github/PULL_REQUEST_TEMPLATE/pull_request_template.md to .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Path conditions:
  haml: any of: *.haml
  scss/css: any of: *.{scss,css}
  js: any of: *.js
  ruby: any of: *.rb, but not: db/schema.rb
  html/json/yaml/yml: any of: *.{html,json,yaml,yml}
